@import "~bootstrap/scss/bootstrap";
@import "github-highlight";
@import "custom";
@import "sidebar";
@import "content";

html, body {
    height: 100%;
    overflow: hidden;
}

.body-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-wrapper {
        flex: 1;
        overflow: auto;
    }
}

.card {
    label {
        margin-bottom: 5px;
    }
    p {
        margin: 10px 0 20px 0;
    }
}
