$border-color: rgba(0,0,0,.12);

.ngl-table {
    display: block;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .ngl-header {
        border-bottom: 1px solid $border-color;
        min-height: 56px;
        padding: 0 24px;
    
        .ngl-header-cell {
            font-size: 12px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.54);
        }
    }
    
    .ngl-body-row {
        border-bottom: 1px solid $border-color;
        min-height: 48px;
        padding: 0 24px;
    
        .ngl-body-cell {
            font-size: 13px;
        }
    }

    .ngl-footer {
        height: 56px;
        padding: 0 24px;
    }
}
