$header-height: 36px;
$footer-height: 36px;
$row-height: 40px;

.ngl-table {
    display: block;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .ngl-header {
        border-bottom: 1px solid #ccc;
        height: $header-height;
        padding: 0 8px;
    
        .ngl-header-cell {
            font-size: 12px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.54);
        }
    }
    
    .ngl-body-row {
        border-bottom: 1px solid #ccc;
        height: $row-height;
        padding: 0 8px;
    
        .ngl-body-cell {
            font-size: 13px;
        }
    }

    .ngl-footer {
        height: $footer-height;
        padding: 0 8px;
    }
}
