$border-color: rgba(0,0,0,.12);

.ngl-table {
    display: block;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .ngl-body {
        display: block;
    }

    .ngl-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;
        min-height: 56px;
        padding: 0 24px;
    
        .ngl-header-cell {
            flex: 1;
            font-size: 12px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.54);
            .ngl-sort-icon:before {
                display: inline-block;
                font: normal normal normal 24px/1 "Material Design Icons";
                font-size: inherit;
                text-rendering: auto;
                line-height: inherit;
                -webkit-font-smoothing: antialiased;
            }

            &.ngl-cell-sortable {
                cursor: pointer;
            }

            &.ngl-cell-sortable:not(.ngl-sort-hide-icon) {
                .ngl-sort-icon:before {
                    content: "\F4BA";
                }   
            }

            &.ngl-cell-sortable.ngl-sort-asc .ngl-sort-icon:before {
                content: "\F4BC";
            }

            &.ngl-cell-sortable.ngl-sort-desc .ngl-sort-icon:before {
                content: "\F4BD";
            }
        }
    }
    
    .ngl-body-row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;
        min-height: 48px;
        padding: 0 24px;
    
        .ngl-body-cell {
            font-size: 13px;
            flex: 1;
            display: block;
            overflow: hidden;
            word-wrap: break-word;
        }
    }

    .ngl-footer {
        display: flex;
        align-items: center;
        height: 56px;
        padding: 0 24px;

        .ngl-paging {
            display: block;
            margin-left: auto;

            .ngl-paging-list {
                margin: 0;
                padding: 0;
                
                .ngl-page-item {
                    display: inline-block;
                    margin: 0 5px;

                    &.boundary-action-item {
                        margin: 0;
                    }

                    &.active:not(.disabled) {  
                        .ngl-page-link {
                            border-bottom: 2px solid #17a2b8;
                            color: #17a2b8;
                            font-weight: 600;
                            &:hover {
                                border-bottom: 2px solid #17a2b8;
                            }
                        }
                    }

                    &:not(.disabled) {
                        .ngl-page-link:hover {
                            text-decoration: none;
                            border-bottom: 2px solid #333;
                        }
                    }

                    &.disabled {
                        .ngl-page-link {
                            color: #ccc;
                        }
                    }

                    .ngl-page-link {
                        color: #555;
                        display: block;
                        padding: 0 3px;
                        font-size: 13px;
                        line-height: 18px;

                        .mdi::before {
                            font-size: 18px;
                            line-height: 14px;
                            top: 2px;
                            position: relative; 
                        }
                    }
                }
            }
        }
    }
}
