.ngl-table {
    display: block;

    .ngl-body {
        display: block;
    }

    .ngl-header {
        display: flex;
        align-items: center;
    
        .ngl-header-cell {
            flex: 1;
        }
    }
    
    .ngl-body-row {
        display: flex;
        align-items: center;
    
        .ngl-body-cell {
            flex: 1;
            display: block;
            overflow: hidden;
            word-wrap: break-word;
        }
    }

    .ngl-footer {
        display: flex;
        align-items: center;
    }
}
