.ngl-table {
    display: block;

    .ngl-body {
        display: block;
        max-height: 500px;
        overflow: auto;
    }

    .ngl-header {
        display: flex;
        align-items: center;
    
        .ngl-header-cell {
            flex: 1;
        }
    }
    
    .ngl-body-row {
        display: flex;
        align-items: center;
    
        .ngl-body-cell {
            flex: 1;
            display: block;
        }
    }

    .ngl-footer {
        display: flex;
        align-items: center;
    }
}
